.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input,
button {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
}

.contact-list {
  margin: 15px 0;
}

.contact-list ul>li {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 2px;
}

.contact-list ul>li:hover {
  cursor: pointer;
}